# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
.vercel
.env*.local
public/cache/
public/content-cache/
# Keep content-heights.json for LTI
!/public/content-heights.json
/data
/public/assets

# Generated content cache for fallback API
public/content-cache/
